<div class="container">

  <ul class="card-list">
    <% @lists.each do |l| %>
    <li class="card card-glow">
      <div style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path l.photo.key, height: 300, width: 400, crop: :fill %>)">
        <%= link_to l.name, list_path(l), class: "card-link" %>
        <%= link_to "Remove", list_path(l), method: :delete, data: { confirm: "Are you sure?" } %>
      </div>
    </li>
    <% end %>
  </ul>
</div>
