<div class="navbar-lewagon">
  <div>
    <%= link_to root_path do %>
      <%= fa_icon "film 3x", class: "nav-link glow" %><h1 class="nav-link glow">Watchlists</h1>
    <% end %>
  </div>

  <ul class="inline-list">
    <li><%= link_to "All watchlists", lists_path, class: "nav-link glow" %></li>
    <li><%= link_to "Add a list", new_list_path, class: "nav-link glow" %></li>
  </ul>
</div>
