.card-list {
  list-style: none;
}

.card {
  width: 35vh;
  height:  20vh;
  margin: 8px;
  border: none;
  display: inline-block;
}

.card > div {
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 2px;
}

.card-glow {
  box-shadow: 0 0 5px white;
  transition: 0.5s;
}

.card-glow:hover {
  box-shadow: 0 0 5px gold;
}

.card-link {
  color: white;
  font-size: 24px;
  text-shadow: 0 0 5px white;
  transition: 0.3s;
}

.card-link:hover {
  color: white;
  text-shadow: 0 0 5px gold;
}
