// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.show-title {
  color: white;
  display: flex;
  justify-content: left;
  align-items: center;
  text-shadow: 0 0 5px white;
}

.show-title > span {
  margin: 0 16px;
  text-shadow: none;
}
